*{
    padding: 0%;
    margin: 0%;
}

.body1{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    color: blanchedalmond;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat:no-repeat;
    
    
}



.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    padding: 20px;
    align-content: center;
    
}

.navbar1{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid white; */

}

 ul li a {
    text-decoration: none;
    color: blanchedalmond;
}

.form{
  
    width: 400px;
    margin-top: 30px;
    margin-left: 660px;
    
}

#care{
    width:100%;
}
.form1{
    /* border: 1px solid white; */
    width: 300px;
    margin-left: 580px;
    padding-left: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(240, 234, 234);
    box-shadow: rgba(240, 156, 46, 0.2) 5px 5px, rgba(240, 156, 46, 0.2) 10px 10px, rgba(240, 156, 46, 0.2) 15px 15px, rgba(240, 156, 46, 0.2) 20px 20px, rgba(240, 156, 46, 0.2) 25px 25px;
    opacity: 0.8;
}

#btn{
  background-color: rgb(7, 94, 84);
  width: 230px;
  box-shadow:   rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form1 label{
    color: rgb(97, 95, 95);

}

 #title{
    text-align: center;
    color:black;
    margin-left: 70px;
    font-weight: bold;
    
}

.bg-image{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    
        /* The image used */
        
      
        /* Add the blur effect */
        filter: blur(8px);
        -webkit-filter: blur(8px);
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
}

/* .background-image {
    filter: blur(8px);
} */

#message {
    display:none;
    color: #000;
    /* position: relative; */
    /* padding: 20px;
    margin-top: 10px; */
  }

 

  #message1 {
    display:none;
    color: #000;
    /* position: relative; */
    /* padding: 20px;
    margin-top: 10px; */
  }
  #message2 {
    display:none;
    color: #000;
    /* position: relative; */
    /* padding: 20px;
    margin-top: 10px; */
  }

  #message3 {
    display:none;
    
    color:red;
    position: relative; 
    padding: 20px;
    
  }
  
  
  #block1{
      background-color: red;
          width: 70px;
          display:none ;
          height: 10px;
  }
  #block2{
      background-color:orange;
          width: 70px;
          display:none ;
          height: 10px;
  }
  #block3{
      background-color: green;
          width: 70px;
          display:none ;
          height: 10px;
  }

  #message4 {
    display:none;
    color: #000;
    /* position: relative; */
    /* padding: 20px;
    margin-top: 10px; */
  }
  